/* || General setup */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: white;
}

body {
    width: 99%;
    min-width: 700px;
    margin: 0 auto;
}

/* || typography */

h1,
h2,
h3 {
    font-family: sans-serif;
    color: #2a2a2a;
}

p,
input,
li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 0px 0px black;
    color: whitesmoke;
    font-family: cursive;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
}

p,
nav li {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* || header layout */

header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

body > * {
    padding: 1%;


}

main,
header,
nav,
article,
aside,
footer,
section {
    background-color: rgba(246, 233, 50, 0.72);
    padding: 1%;
}

.citation {
    width: 30%;
    height: 8%;
    resize: none;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    color: #ffffff;
    text-shadow: rgba(128, 128, 128, 0.65) 1px 1px;
    background-color: rgba(237, 237, 242, 0.3);
    margin-top: 20px;
    border-radius: 15px;
    padding: 3px;
}

blockquote {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}


#cit1 {
    margin-left: auto;
}

#cit2 {
    margin-right: auto;
}

#HPHlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70%;
    padding-top: 20.15px;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    height: 40px;
    margin-top: -5px;
}

nav a {
    display: inline;
    text-align: center;
    flex: 1;
    border: solid rgb(231, 204, 64) 1px;
    border-radius: 4px;
    border-bottom-width: thick;
    width: auto;
    padding: 0px 4px 25px 4px;
    margin: 5px;
    text-decoration: none;
    outline: none;

}

nav a:hover {
    text-decoration: none;
    outline: none;

}

nav li:hover {
    color: darkblue;
}

nav a:hover {
    background-color: rgba(255, 252, 234, 0.73);

}

nav a:active {
    background-color: darkblue;
}

nav li:active {
    color: white;
}

nav a,
nav span {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;


}

div.flags {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 80px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 1%;
    background-color: rgba(255, 255, 255, 0.36);
    border: 1px solid white;
    border-radius: 7px;
    padding-left: 11px;
    padding-top: 15px;
}

div.flags img {
    width: 30px;
    height: 20px;
}

#alFlag {
    position: relative;
    left: -5px;
}

#usaFlag {
    position: relative;
    right: 0px;
}


/*aside*/

aside {
    width: 30%;
}

aside p {
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 20px;
    background-position: 3% 50%;
}
#harta {
    margin-left: 5px;
    margin-right: auto;
    width: 95%;
}
div.Partneret{
    display: flex;
    flex-direction: column;
}
div.Partneret img {
    max-width: 60%;
    min-height: 30%;
    padding: 20px;
    margin-left: 25%;
    
}

p#adresa {

    background-image: url("home.png");
    ;
}

p#fix {

    background-image: url(fix.png);
    ;
}

p#cel {

    background-image: url(cel.png);
}

p#mail {

    background-image: url(mail.png);
}



hr {
    border-top: 2px solid grey;
    margin-left: 20px;
}

/* || main layout Home_Al */

.Home  main{
    display: flex;
}

article {
    flex: 4;
    margin-right: 15px
}

footer {
    margin-top: 10px;
}

footer p {
    margin-left: 20px;
}

.carousel-inner,
#carouselExampleIndicators {
    width: 98%;
}




.list-group-item {
    background-image: url(ALflag-40.png);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 63px;
}




#cfareOfrojmeHead,
#misioniYneHead {
    display: flex;
    background: linear-gradient(#d8cb17, rgba(246, 233, 50, 0.72));
    border-radius: 3px;
}

.cfareOfrojme h3,
.misioniYne h3 {
    margin-top: 10px;
}

.previewActivitete {
    display: flex;
    flex-flow: row;
}
html.Home article{
    min-width: 60%;
    font-size: 18px;
}
/* || main layout RrethNesh_Al */
html.RrethNesh main{
    display: flex;
    
}
html.RrethNesh article{
    min-width: 60%;
    font-size: 18px;
}
/* || main layout Sherbime_Al */
html.Sherbime main{
    display: flex;
    
}
html.Sherbime article{
    min-width: 60%;
    font-size: 18px;
}
html.Sherbime p{
    font-size: 20px;
    font: bold;
     text-decoration: underline;
}



